<form name="addTaskForm">
	<fieldset>
		<legend>Add a Task</legend>
		<label>Task Title:</label>
		<input name="tasktitle" type="text" placeholder="Enter Your Task Title" ng-model="task.title" required/>
		<span ng-show="addTaskForm.tasktitle.$error.required" class="help-inline">Required</span>
		<label>Description</label>
		<input class="input-xxlarge" type="text" ng-model='task.description'/>
		<button type="submit" class="btn btn-primary" ng-click="create(task)" ng-disabled="addTaskForm.$invalid">Submit</button>
	</fieldset>
</form>
