<form name="editTaskForm">
	<fieldset>
		<legend>Edit {{master.name}}</legend>
		<label>Task Title<label>
		<input name="tasktitle" type="text" placeholder="Enter your task title.." ng-model='task.title' required/>
		<span ng-show="editTaskForm.tasktitle.$error.required" class="help-inline">Required</span>
		<!--<label>Project</label>
		<select ng-model="task.project_id" required>
    	<option value="">Select Project</option>
   			<option ng-repeat="project in projects" value="{{project.id}}" >{{project.title}}</option>
		</select> -->
		<label>Description</label>
		<input class="input-xxlarge" type="text" ng-model='task.description'/>
		<button type="submit" class="btn btn-primary" ng-click='update(task)' ng-disabled="editTaskForm.$invalid">Update Task</button>
	</fieldset>
</form>
<a href="#/tasks/{{task.id}}">Back</a>
